<!DOCTYPE html>
<html lang="en">
  <%- include('./views/partials/head.ejs')%>
  <body>
    <%- include('./views/partials/nav.ejs')%>

    <div class="blogs content">
      <h1>Blog Content</h1>
      <% if(blogs.length > 0) { %> <% blogs.forEach(blog =>{ %>
      <a class="single" href="/blogs/<%= blog._id%>">
        <h3 class="title"><%= blog.title%></h3>
        <p class="snippet"><%= blog.snippet%></p>
      </a>
      <% })%><%}%>
    </div>
    <%- include('./views/partials/footer.ejs')%>
  </body>
</html>
