<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h1>About us</h1>
      <p>Info</p>
      <p>contacts</p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
